<html>
<head>
<title>CBSE</title>
<form action='/result'>
<table>
<caption><b><i>Student Details</i></b></caption>
<tr>
<td><b><i>RollNo:</b></i></td><br>
<td><input type="text" id="txt1" name="n1"  ></td>
</tr>
<tr>
<td><b><i>Student Name:</b></i></td><br>
<td><input type="text" id="txt2" name="n2" pattern="[a-z A-Z]+" ></td>
</tr>
<tr>
<td><b><i>Father Name:</b></i></td><br>
<td><input type="text" id="txt3" name="n3" pattern="[a-z A-Z]+" ></td>
</tr>
<tr>
<td><b><i>Gender:</b></i></td><br>
<td><input type="radio" name="gen" value="Male" id="gender1" >Male <input type="radio" name="gen" value="Female" id="gender2" 
    >Female</td>
</tr>
<tr>
<td><b><i>Birth Date:</i></b></td>
<td><input type='date' name='bd' id="txt12" >
</tr>
<tr>
<td><b><i>School Name:</b></i></td><br>
<td><input type="text" id="txt5" name="n4"  ></td>
</tr>
<tr>
<td><b><i>English Marks:</b></i></td><br>
<td><input type="number" id="txt7" name="n6"  ></td>
</tr>
<tr>
<td><b><i>Hindi Marks:</b></i></td><br>
<td><input type="number" id="txt6" name="n5"  ></td>
</tr>
<tr>
<td><b><i>Maths Marks:</b></i></td><br>
<td><input type="number" id="txt8" name="n7" ></td>
</tr>
<tr>
<td><b><i>Physics Marks:</b></i></td><br>
<td><input type="number" id="txt9" name="n8"  ></td>
</tr>
<tr>
<td><b><i>Chemistry Marks:</b></i></td><br>
<td><input type="number" id="txt10" name="n9"  ></td>
</tr>
<tr>
<td><input type="submit"></td>
</tr>
</table>
</form>

</html>